body {
  background-color: #d9d9d9; }

input {
  background-color: rgba(255, 255, 255, 0.5);
  border: 0;
  display: block;
  font-size: 3em;
  margin: 15% auto;
  outline: none;
  padding: 0.4em;
  width: 20%; }

@media only screen and (max-width: 600px) {
  input {
    font-size: 2em;
    width: 40%; } }
